/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html, body { height: 100%; font-family: 'Rubik', sans-serif; }
body { margin: 0;  }

mat-sidenav {
    width: 200px;
  }
