<mat-toolbar color=primary fixedInViewport>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)='sidenav.toggle();'>menu</mat-icon>
    </button>
    <h1> Admin Dashboard </h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container >
  <mat-sidenav #sidenav mode="side">
      <mat-nav-list>
          <a mat-list-item routerLink="/home">Home</a>
          <a mat-list-item>About</a>
          <a mat-list-item routerLink="products">Products</a>
          <a mat-list-item>Contact Us</a>
          <a mat-list-item>FAQ</a>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
