<mat-card class="card-styles">
  <mat-card-header>
    <mat-card-title>{{product.title}}</mat-card-title>
    <mat-divider></mat-divider>
  </mat-card-header>
  <img mat-card-image class="product-image" src={{product.image}}>
  <mat-card-content>
    <p>{{product.description}}</p>
    <mat-divider></mat-divider>
      <p class="price">Price: ${{product.price}}</p>
    </mat-card-content>
  </mat-card>
