.card-styles {
    flex-basis: calc(25% - 20px); /* Adjust the percentage and spacing as needed */
    margin-bottom: 20px; /* Adjust the margin as needed */
    width: 300px;
      
}

.product-image {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: contain;
}