<div style="display: flex;">
    <div style="flex: 1; margin: 10px;">
      <app-pie-chart></app-pie-chart>
    </div>
    <div style="flex: 1; margin: 10px;">
      <app-line-chart></app-line-chart>
    </div>
  </div>
